<div>
    <div>
        <label>Search by Name </label>
        <input type="textbox" name="nameFilter" [(ngModel)]="nameFilter" #nFilter="ngModel" />
    </div>
    <div>
        {{nameFilter}}
    </div>
    <table>
        <tr>
            <th>Name</th>
            <th>Id</th>
            <th>Gender</th>
            <th>DateOfBirth</th>
            <th>Department</th>
        </tr>
        <tr *ngFor="let employee of employees">
            <ng-container *ngIf="(nameFilter != null && employee.name.indexOf(nameFilter) !== -1) || nameFilter == null">
                <td>{{employee.name}} {{ employee.name.indexOf(nameFilter) }}</td>
                <td><a [routerLink]="['/employee', employee.id]">{{employee.id}}</a></td>
                <td>{{employee.gender}}</td>
                <td>{{employee.dateOfBirth | date}}</td>
                <td>{{employee.department}}</td>
            </ng-container>
        </tr>
    </table>
</div>